.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store

### ./_targets

# {targets} cache
#_targets/
# ignore big target files with posterior data
_targets/objects/c_post*
 
### ./data-raw and ./data

# Keep data off GitHub here
data-raw

### ./analysis

# output from directly knitting Rmd file in analysis/
analysis/figure
analysis/*png
analysis/*html
analysis/*pdf
analysis/*_cache
analysis/site_libs
analysis/life_tables.xlsx


### ./output

# Keep tentative documents off GitHub
output*
log

# Keep data folder off GitHub except land mask
!data/
data/*
!data/mask/

